<div class="toolbar" role="banner">
    <span>{{ title }}  </span>
    <ul class="text-center list-inline py-3" *ngIf="!isLoggedIn">
        <li class="list-inline-item"><a routerLink="/login" class="btn btn-info"> login </a></li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="list-inline-item"><a routerLink="/products" class="btn btn-info"> List Products</a></li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>    
</div>
<router-outlet></router-outlet>